.content {
  margin: 10%;
  margin-top: 10px;
  background-color: #cfa16c;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.info {
  margin: 20px;
}
img {
  max-width: 100%;
}
#starRating span {
  cursor: pointer;
  color: #b4b4b4;
}
.filledStars {
  color: black !important;
}
.emptyStars {
  color: #b4b4b4;
}
